.App {
  font-family: Roboto, sans-serif;
}

.customLegend{
  text-align: center;
}

img.logo {
  margin-left:  40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div.DataDrop{
  width: 230px;
  align-content: center;
}

.App-header {
  background-color: #2a2b32;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #C4D6E6;
}

div.Graph {
  font-size: 10px;
  color: white;
}

.nav-link {
  color: #C4D6E6 !important;
}

.App-link {
  color: #61dafb;
}
